body {
  background-color: #999;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  border: 2px solid #777;
  border-radius: 2px;
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  background-color: #f5f5dc;
}

.userAvatar {
  margin: 20px 20% auto 25%;
  border: 2px solid #777;
  border-radius: 2px;
  background-color: #fff;
}

.profileContainer {
  margin: 200px 20%;
}

.name {
  font-family: 'Helvetica', sans-serif;
  color: #005b96;
}

.name-link {
  text-decoration: none;
}

.firstLine, .secondLine {
  display: inline;
}

.avail {
  display: inline;
  color: #ee3426;
}

.contact1, .contact2 {
  display: inline;
}

.profPic {
  float: left;
  border: 1px solid #999;
  border-radius: 50%;
}

.userProfInfo {
  position: relative;
  top: 30px;
  left: 20px;
}

.ed {
  display: inline-block;
  margin: 40px 10px 0 0;
}

.uni {
  display: inline;
}

.last {
  width: 25%;
  margin-top: 54px;
  margin-left: 50px;
}

.skilled {
  display: inline;
  margin-bottom: 0;
}

.allSkills {
  float: right;
  width: 135px;
}

.each {
  margin: 0 0 5px 0;
}

.profileContainer {
  background-color: #f5f5dc;
  height: 100%;
}
